.tm-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 5000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tm-content {
  position: relative;
  width: 90%;
  max-width: 900px;
  aspect-ratio: 16 / 9;
  background: black;
  border-radius: 14px;
  overflow: hidden;
}

.tm-content iframe {
  width: 100%;
  height: 100%;
}


.tm-close {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 50%;
  cursor: pointer;
}

.tm-close:hover {
  background: rgba(0, 0, 0, 0.9);
}


@media (max-width: 768px) {
  .tm-content {
    width: 95%;
  }
}
